@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
    height:110%;
    width:100%;
    font-family: 'Source Sans 3', sans-serif;
}
.app {
    display: flex;
    position: relative;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #e0e0e0;
}
::-webkit-scrollbar-thumb{
    background:#888;
}
::-webkit-scrollbar-track:hover{
    background:#555;
}

.mainBody {
    font-size: 20px;
}

.scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}
nav {
    width: 339px;
    padding: 1px;
    border: 1px solid black;
}
.scroll-container {
    width: 48%;
    height: 310px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.scroll-page {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 210%;
    font-size: 3em;
}

.muicard-root{
    display: flex;
    flex-direction: column;
}
.muicardactions-root{
    margin-top: auto;
}